nav {
    height: 70px;
    background: linear-gradient(120deg, rgb(100, 28, 182), rgb(58, 19, 143), rgb(76, 9, 220));
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 20px;
    color: white;
    text-shadow: 0px 2px 1px rgb(41, 3, 42);

}